/* Width (w-*) */

.w-0     { width: 0rem; }         /* 0px */
.w-1     { width: 0.25rem; }      /* 4px */
.w-2     { width: 0.5rem; }       /* 8px */
.w-3     { width: 0.75rem; }      /* 12px */
.w-4     { width: 1rem; }         /* 16px */
.w-5     { width: 1.25rem; }      /* 20px */
.w-6     { width: 1.5rem; }       /* 24px */
.w-7     { width: 1.75rem; }      /* 28px */
.w-8     { width: 2rem; }         /* 32px */
.w-9     { width: 2.25rem; }      /* 36px */
.w-10    { width: 2.5rem; }       /* 40px */
.w-11    { width: 2.75rem; }      /* 44px */
.w-12    { width: 3rem; }         /* 48px */
.w-14    { width: 3.5rem; }       /* 56px */
.w-16    { width: 4rem; }         /* 64px */
.w-20    { width: 5rem; }         /* 80px */
.w-24    { width: 6rem; }         /* 96px */
.w-28    { width: 7rem; }         /* 112px */
.w-32    { width: 8rem; }         /* 128px */
.w-36    { width: 9rem; }         /* 144px */
.w-40    { width: 10rem; }        /* 160px */
.w-44    { width: 11rem; }        /* 176px */
.w-48    { width: 12rem; }        /* 192px */
.w-52    { width: 13rem; }        /* 208px */
.w-56    { width: 14rem; }        /* 224px */
.w-60    { width: 15rem; }        /* 240px */
.w-64    { width: 16rem; }        /* 256px */
.w-72    { width: 18rem; }        /* 288px */
.w-80    { width: 20rem; }        /* 320px */
.w-96    { width: 24rem; }        /* 384px */
.w-128   { width: 32rem; }        /* 512px */
.w-160   { width: 40rem; }        /* 640px */
.w-192   { width: 48rem; }        /* 768px */
.w-224   { width: 56rem; }        /* 896px */
.w-256   { width: 64rem; }        /* 1024px */
.w-full     { width: 100%; }
.w-screen   { width: 100vw; }


.h-0     { height: 0rem; }         /* 0px */
.h-1     { height: 0.25rem; }      /* 4px */
.h-2     { height: 0.5rem; }       /* 8px */
.h-3     { height: 0.75rem; }      /* 12px */
.h-4     { height: 1rem; }         /* 16px */
.h-5     { height: 1.25rem; }      /* 20px */
.h-6     { height: 1.5rem; }       /* 24px */
.h-7     { height: 1.75rem; }      /* 28px */
.h-8     { height: 2rem; }        /* 32px */
.h-9     { height: 2.25rem; }      /* 36px */
.h-10    { height: 2.5rem; }       /* 40px */
.h-11    { height: 2.75rem; }      /* 44px */
.h-12    { height: 3rem; }         /* 48px */
.h-14    { height: 3.5rem; }       /* 56px */
.h-16    { height: 4rem; }         /* 64px */
.h-20    { height: 5rem; }         /* 80px */
.h-24    { height: 6rem; }         /* 96px */
.h-28    { height: 7rem; }         /* 112px */
.h-32    { height: 8rem; }         /* 128px */
.h-36    { height: 9rem; }         /* 144px */
.h-40    { height: 10rem; }        /* 160px */
.h-44    { height: 11rem; }        /* 176px */
.h-48    { height: 12rem; }        /* 192px */
.h-52    { height: 13rem; }        /* 208px */
.h-56    { height: 14rem; }        /* 224px */
.h-60    { height: 15rem; }        /* 240px */
.h-64    { height: 16rem; }        /* 256px */
.h-72    { height: 18rem; }        /* 288px */
.h-80    { height: 20rem; }        /* 320px */
.h-96    { height: 24rem; }        /* 384px */
.h-128   { height: 32rem; }        /* 512px */
.h-160   { height: 40rem; }        /* 640px */
.h-192   { height: 48rem; }        /* 768px */
.h-224   { height: 56rem; }        /* 896px */
.h-256   { height: 64rem; }        /* 1024px */
.h-full     { height: 100%; }
.h-screen   { height: 100vh; }


/* Min-Width */
.min-w-0     { min-width: 0rem; }       /* 0px */
.min-w-1     { min-width: 0.25rem; }    /* 4px */
.min-w-2     { min-width: 0.5rem; }     /* 8px */
.min-w-4     { min-width: 1rem; }       /* 16px */
.min-w-8     { min-width: 2rem; }       /* 32px */
.min-w-16    { min-width: 4rem; }       /* 64px */
.min-w-32    { min-width: 8rem; }       /* 128px */
.min-w-64    { min-width: 16rem; }      /* 256px */
.min-w-96    { min-width: 24rem; }      /* 384px */
.min-w-128   { min-width: 32rem; }      /* 512px */

/* Max-Width */
.max-w-0     { max-width: 0rem; }
.max-w-1     { max-width: 0.25rem; }
.max-w-2     { max-width: 0.5rem; }
.max-w-4     { max-width: 1rem; }
.max-w-8     { max-width: 2rem; }
.max-w-16    { max-width: 4rem; }
.max-w-32    { max-width: 8rem; }
.max-w-64    { max-width: 16rem; }
.max-w-96    { max-width: 24rem; }
.max-w-128   { max-width: 32rem; }

/* Min-Height */
.min-h-0     { min-height: 0rem; }
.min-h-1     { min-height: 0.25rem; }
.min-h-2     { min-height: 0.5rem; }
.min-h-4     { min-height: 1rem; }
.min-h-8     { min-height: 2rem; }
.min-h-16    { min-height: 4rem; }
.min-h-32    { min-height: 8rem; }
.min-h-64    { min-height: 16rem; }
.min-h-96    { min-height: 24rem; }
.min-h-128   { min-height: 32rem; }

/* Max-Height */
.max-h-0     { max-height: 0rem; }
.max-h-1     { max-height: 0.25rem; }
.max-h-2     { max-height: 0.5rem; }
.max-h-4     { max-height: 1rem; }
.max-h-8     { max-height: 2rem; }
.max-h-16    { max-height: 4rem; }
.max-h-32    { max-height: 8rem; }
.max-h-64    { max-height: 16rem; }
.max-h-96    { max-height: 24rem; }
.max-h-128   { max-height: 32rem; }



/* Margin - geral */
.m-0   { margin: 0rem; }
.m-1   { margin: 0.25rem; }
.m-2   { margin: 0.5rem; }
.m-3   { margin: 0.75rem; }
.m-4   { margin: 1rem; }
.m-5   { margin: 1.25rem; }
.m-6   { margin: 1.5rem; }
.m-8   { margin: 2rem; }

/* Margin top */
.mt-0  { margin-top: 0rem; }
.mt-1  { margin-top: 0.25rem; }
.mt-2  { margin-top: 0.5rem; }
.mt-3  { margin-top: 0.75rem; }
.mt-4  { margin-top: 1rem; }
.mt-5  { margin-top: 1.25rem; }
.mt-6  { margin-top: 1.5rem; }
.mt-8  { margin-top: 2rem; }
.mt-17 { margin-top: 68px !important; }
.mt-18 { margin-top: 72px !important; }
.mt-19 { margin-top: 76px !important; }
.mt-20 { margin-top: 80px !important; }
.mt-21 { margin-top: 84px !important; }
.mt-22 { margin-top: 88px !important; }
.mt-23 { margin-top: 92px !important; }
.mt-24 { margin-top: 96px !important; }
.mt-25 { margin-top: 100px !important; }
.mt-26 { margin-top: 104px !important; }
.mt-27 { margin-top: 108px !important; }
.mt-28 { margin-top: 112px !important; }
.mt-29 { margin-top: 116px !important; }
.mt-30 { margin-top: 120px !important; }
.mt-31 { margin-top: 124px !important; }
.mt-32 { margin-top: 128px !important; }

/* Margin right */
.mr-0  { margin-right: 0rem; }
.mr-1  { margin-right: 0.25rem; }
.mr-2  { margin-right: 0.5rem; }
.mr-3  { margin-right: 0.75rem; }
.mr-4  { margin-right: 1rem; }
.mr-5  { margin-right: 1.25rem; }
.mr-6  { margin-right: 1.5rem; }
.mr-8  { margin-right: 2rem; }

/* Margin bottom */
.mb-0  { margin-bottom: 0rem; }
.mb-1  { margin-bottom: 0.25rem; }
.mb-2  { margin-bottom: 0.5rem; }
.mb-3  { margin-bottom: 0.75rem; }
.mb-4  { margin-bottom: 1rem; }
.mb-5  { margin-bottom: 1.25rem; }
.mb-6  { margin-bottom: 1.5rem; }
.mb-8  { margin-bottom: 2rem; }

/* Margin left */
.ml-0  { margin-left: 0rem; }
.ml-1  { margin-left: 0.25rem; }
.ml-2  { margin-left: 0.5rem; }
.ml-3  { margin-left: 0.75rem; }
.ml-4  { margin-left: 1rem; }
.ml-5  { margin-left: 1.25rem; }
.ml-6  { margin-left: 1.5rem; }
.ml-8  { margin-left: 2rem; }

/* Margin eixo horizontal (x) */
.mx-0  { margin-left: 0rem; margin-right: 0rem; }
.mx-1  { margin-left: 0.25rem; margin-right: 0.25rem; }
.mx-2  { margin-left: 0.5rem; margin-right: 0.5rem; }
.mx-3  { margin-left: 0.75rem; margin-right: 0.75rem; }
.mx-4  { margin-left: 1rem; margin-right: 1rem; }
.mx-5  { margin-left: 1.25rem; margin-right: 1.25rem; }
.mx-6  { margin-left: 1.5rem; margin-right: 1.5rem; }
.mx-8  { margin-left: 2rem; margin-right: 2rem; }

/* Margin eixo vertical (y) */
.my-0  { margin-top: 0rem; margin-bottom: 0rem; }
.my-1  { margin-top: 0.25rem; margin-bottom: 0.25rem; }
.my-2  { margin-top: 0.5rem; margin-bottom: 0.5rem; }
.my-3  { margin-top: 0.75rem; margin-bottom: 0.75rem; }
.my-4  { margin-top: 1rem; margin-bottom: 1rem; }
.my-5  { margin-top: 1.25rem; margin-bottom: 1.25rem; }
.my-6  { margin-top: 1.5rem; margin-bottom: 1.5rem; }
.my-8  { margin-top: 2rem; margin-bottom: 2rem; }

/* MA */
.ma-17 { margin: 68px !important; }
.ma-18 { margin: 72px !important; }
.ma-19 { margin: 76px !important; }
.ma-20 { margin: 80px !important; }
.ma-21 { margin: 84px !important; }
.ma-22 { margin: 88px !important; }
.ma-23 { margin: 92px !important; }
.ma-24 { margin: 96px !important; }
.ma-25 { margin: 100px !important; }
.ma-26 { margin: 104px !important; }
.ma-27 { margin: 108px !important; }
.ma-28 { margin: 112px !important; }
.ma-29 { margin: 116px !important; }
.ma-30 { margin: 120px !important; }
.ma-31 { margin: 124px !important; }
.ma-32 { margin: 128px !important; }

/* ML */
.ml-17 { margin-left: 68px !important; }
.ml-18 { margin-left: 72px !important; }
.ml-19 { margin-left: 76px !important; }
.ml-20 { margin-left: 80px !important; }
.ml-21 { margin-left: 84px !important; }
.ml-22 { margin-left: 88px !important; }
.ml-23 { margin-left: 92px !important; }
.ml-24 { margin-left: 96px !important; }
.ml-25 { margin-left: 100px !important; }
.ml-26 { margin-left: 104px !important; }
.ml-27 { margin-left: 108px !important; }
.ml-28 { margin-left: 112px !important; }
.ml-29 { margin-left: 116px !important; }
.ml-30 { margin-left: 120px !important; }
.ml-31 { margin-left: 124px !important; }
.ml-32 { margin-left: 128px !important; }

/* MR */
.mr-17 { margin-right: 68px !important; }
.mr-18 { margin-right: 72px !important; }
.mr-19 { margin-right: 76px !important; }
.mr-20 { margin-right: 80px !important; }
.mr-21 { margin-right: 84px !important; }
.mr-22 { margin-right: 88px !important; }
.mr-23 { margin-right: 92px !important; }
.mr-24 { margin-right: 96px !important; }
.mr-25 { margin-right: 100px !important; }
.mr-26 { margin-right: 104px !important; }
.mr-27 { margin-right: 108px !important; }
.mr-28 { margin-right: 112px !important; }
.mr-29 { margin-right: 116px !important; }
.mr-30 { margin-right: 120px !important; }
.mr-31 { margin-right: 124px !important; }
.mr-32 { margin-right: 128px !important; }

/* MB */
.mb-17 { margin-bottom: 68px !important; }
.mb-18 { margin-bottom: 72px !important; }
.mb-19 { margin-bottom: 76px !important; }
.mb-20 { margin-bottom: 80px !important; }
.mb-21 { margin-bottom: 84px !important; }
.mb-22 { margin-bottom: 88px !important; }
.mb-23 { margin-bottom: 92px !important; }
.mb-24 { margin-bottom: 96px !important; }
.mb-25 { margin-bottom: 100px !important; }
.mb-26 { margin-bottom: 104px !important; }
.mb-27 { margin-bottom: 108px !important; }
.mb-28 { margin-bottom: 112px !important; }
.mb-29 { margin-bottom: 116px !important; }
.mb-30 { margin-bottom: 120px !important; }
.mb-31 { margin-bottom: 124px !important; }
.mb-32 { margin-bottom: 128px !important; }

/* MX */
.mx-17 { margin-left: 68px !important; margin-right: 68px !important; }
.mx-18 { margin-left: 72px !important; margin-right: 72px !important; }
.mx-19 { margin-left: 76px !important; margin-right: 76px !important; }
.mx-20 { margin-left: 80px !important; margin-right: 80px !important; }
.mx-21 { margin-left: 84px !important; margin-right: 84px !important; }
.mx-22 { margin-left: 88px !important; margin-right: 88px !important; }
.mx-23 { margin-left: 92px !important; margin-right: 92px !important; }
.mx-24 { margin-left: 96px !important; margin-right: 96px !important; }
.mx-25 { margin-left: 100px !important; margin-right: 100px !important; }
.mx-26 { margin-left: 104px !important; margin-right: 104px !important; }
.mx-27 { margin-left: 108px !important; margin-right: 108px !important; }
.mx-28 { margin-left: 112px !important; margin-right: 112px !important; }
.mx-29 { margin-left: 116px !important; margin-right: 116px !important; }
.mx-30 { margin-left: 120px !important; margin-right: 120px !important; }
.mx-31 { margin-left: 124px !important; margin-right: 124px !important; }
.mx-32 { margin-left: 128px !important; margin-right: 128px !important; }

/* MY */
.my-17 { margin-top: 68px !important; margin-bottom: 68px !important; }
.my-18 { margin-top: 72px !important; margin-bottom: 72px !important; }
.my-19 { margin-top: 76px !important; margin-bottom: 76px !important; }
.my-20 { margin-top: 80px !important; margin-bottom: 80px !important; }
.my-21 { margin-top: 84px !important; margin-bottom: 84px !important; }
.my-22 { margin-top: 88px !important; margin-bottom: 88px !important; }
.my-23 { margin-top: 92px !important; margin-bottom: 92px !important; }
.my-24 { margin-top: 96px !important; margin-bottom: 96px !important; }
.my-25 { margin-top: 100px !important; margin-bottom: 100px !important; }
.my-26 { margin-top: 104px !important; margin-bottom: 104px !important; }
.my-27 { margin-top: 108px !important; margin-bottom: 108px !important; }
.my-28 { margin-top: 112px !important; margin-bottom: 112px !important; }
.my-29 { margin-top: 116px !important; margin-bottom: 116px !important; }
.my-30 { margin-top: 120px !important; margin-bottom: 120px !important; }
.my-31 { margin-top: 124px !important; margin-bottom: 124px !important; }
.my-32 { margin-top: 128px !important; margin-bottom: 128px !important; }


/* Padding - geral */
.p-0   { padding: 0rem; }         /* 0px */
.p-1   { padding: 0.25rem; }      /* 4px */
.p-2   { padding: 0.5rem; }       /* 8px */
.p-3   { padding: 0.75rem; }      /* 12px */
.p-4   { padding: 1rem; }         /* 16px */
.p-5   { padding: 1.25rem; }      /* 20px */
.p-6   { padding: 1.5rem; }       /* 24px */
.p-8   { padding: 2rem; }         /* 32px */

/* Padding top */
.pt-0  { padding-top: 0rem; }
.pt-1  { padding-top: 0.25rem; }
.pt-2  { padding-top: 0.5rem; }
.pt-3  { padding-top: 0.75rem; }
.pt-4  { padding-top: 1rem; }
.pt-5  { padding-top: 1.25rem; }
.pt-6  { padding-top: 1.5rem; }
.pt-8  { padding-top: 2rem; }

/* Padding right */
.pr-0  { padding-right: 0rem; }
.pr-1  { padding-right: 0.25rem; }
.pr-2  { padding-right: 0.5rem; }
.pr-3  { padding-right: 0.75rem; }
.pr-4  { padding-right: 1rem; }
.pr-5  { padding-right: 1.25rem; }
.pr-6  { padding-right: 1.5rem; }
.pr-8  { padding-right: 2rem; }

/* Padding bottom */
.pb-0  { padding-bottom: 0rem; }
.pb-1  { padding-bottom: 0.25rem; }
.pb-2  { padding-bottom: 0.5rem; }
.pb-3  { padding-bottom: 0.75rem; }
.pb-4  { padding-bottom: 1rem; }
.pb-5  { padding-bottom: 1.25rem; }
.pb-6  { padding-bottom: 1.5rem; }
.pb-8  { padding-bottom: 2rem; }

/* Padding left */
.pl-0  { padding-left: 0rem; }
.pl-1  { padding-left: 0.25rem; }
.pl-2  { padding-left: 0.5rem; }
.pl-3  { padding-left: 0.75rem; }
.pl-4  { padding-left: 1rem; }
.pl-5  { padding-left: 1.25rem; }
.pl-6  { padding-left: 1.5rem; }
.pl-8  { padding-left: 2rem; }

/* Padding eixo horizontal (x) */
.px-0  { padding-left: 0rem; padding-right: 0rem; }
.px-1  { padding-left: 0.25rem; padding-right: 0.25rem; }
.px-2  { padding-left: 0.5rem; padding-right: 0.5rem; }
.px-3  { padding-left: 0.75rem; padding-right: 0.75rem; }
.px-4  { padding-left: 1rem; padding-right: 1rem; }
.px-5  { padding-left: 1.25rem; padding-right: 1.25rem; }
.px-6  { padding-left: 1.5rem; padding-right: 1.5rem; }
.px-8  { padding-left: 2rem; padding-right: 2rem; }

/* Padding eixo vertical (y) */
.py-0  { padding-top: 0rem; padding-bottom: 0rem; }
.py-1  { padding-top: 0.25rem; padding-bottom: 0.25rem; }
.py-2  { padding-top: 0.5rem; padding-bottom: 0.5rem; }
.py-3  { padding-top: 0.75rem; padding-bottom: 0.75rem; }
.py-4  { padding-top: 1rem; padding-bottom: 1rem; }
.py-5  { padding-top: 1.25rem; padding-bottom: 1.25rem; }
.py-6  { padding-top: 1.5rem; padding-bottom: 1.5rem; }
.py-8  { padding-top: 2rem; padding-bottom: 2rem; }


/* PA */
.pa-17 { padding: 68px !important; }
.pa-18 { padding: 72px !important; }
.pa-19 { padding: 76px !important; }
.pa-20 { padding: 80px !important; }
.pa-21 { padding: 84px !important; }
.pa-22 { padding: 88px !important; }
.pa-23 { padding: 92px !important; }
.pa-24 { padding: 96px !important; }
.pa-25 { padding: 100px !important; }
.pa-26 { padding: 104px !important; }
.pa-27 { padding: 108px !important; }
.pa-28 { padding: 112px !important; }
.pa-29 { padding: 116px !important; }
.pa-30 { padding: 120px !important; }
.pa-31 { padding: 124px !important; }
.pa-32 { padding: 128px !important; }

/* PL */
.pl-17 { padding-left: 68px !important; }
.pl-18 { padding-left: 72px !important; }
.pl-19 { padding-left: 76px !important; }
.pl-20 { padding-left: 80px !important; }
.pl-21 { padding-left: 84px !important; }
.pl-22 { padding-left: 88px !important; }
.pl-23 { padding-left: 92px !important; }
.pl-24 { padding-left: 96px !important; }
.pl-25 { padding-left: 100px !important; }
.pl-26 { padding-left: 104px !important; }
.pl-27 { padding-left: 108px !important; }
.pl-28 { padding-left: 112px !important; }
.pl-29 { padding-left: 116px !important; }
.pl-30 { padding-left: 120px !important; }
.pl-31 { padding-left: 124px !important; }
.pl-32 { padding-left: 128px !important; }

/* PR */
.pr-17 { padding-right: 68px !important; }
.pr-18 { padding-right: 72px !important; }
.pr-19 { padding-right: 76px !important; }
.pr-20 { padding-right: 80px !important; }
.pr-21 { padding-right: 84px !important; }
.pr-22 { padding-right: 88px !important; }
.pr-23 { padding-right: 92px !important; }
.pr-24 { padding-right: 96px !important; }
.pr-25 { padding-right: 100px !important; }
.pr-26 { padding-right: 104px !important; }
.pr-27 { padding-right: 108px !important; }
.pr-28 { padding-right: 112px !important; }
.pr-29 { padding-right: 116px !important; }
.pr-30 { padding-right: 120px !important; }
.pr-31 { padding-right: 124px !important; }
.pr-32 { padding-right: 128px !important; }

/* PT */
.pt-17 { padding-top: 68px !important; }
.pt-18 { padding-top: 72px !important; }
.pt-19 { padding-top: 76px !important; }
.pt-20 { padding-top: 80px !important; }
.pt-21 { padding-top: 84px !important; }
.pt-22 { padding-top: 88px !important; }
.pt-23 { padding-top: 92px !important; }
.pt-24 { padding-top: 96px !important; }
.pt-25 { padding-top: 100px !important; }
.pt-26 { padding-top: 104px !important; }
.pt-27 { padding-top: 108px !important; }
.pt-28 { padding-top: 112px !important; }
.pt-29 { padding-top: 116px !important; }
.pt-30 { padding-top: 120px !important; }
.pt-31 { padding-top: 124px !important; }
.pt-32 { padding-top: 128px !important; }

/* PB */
.pb-17 { padding-bottom: 68px !important; }
.pb-18 { padding-bottom: 72px !important; }
.pb-19 { padding-bottom: 76px !important; }
.pb-20 { padding-bottom: 80px !important; }
.pb-21 { padding-bottom: 84px !important; }
.pb-22 { padding-bottom: 88px !important; }
.pb-23 { padding-bottom: 92px !important; }
.pb-24 { padding-bottom: 96px !important; }
.pb-25 { padding-bottom: 100px !important; }
.pb-26 { padding-bottom: 104px !important; }
.pb-27 { padding-bottom: 108px !important; }
.pb-28 { padding-bottom: 112px !important; }
.pb-29 { padding-bottom: 116px !important; }
.pb-30 { padding-bottom: 120px !important; }
.pb-31 { padding-bottom: 124px !important; }
.pb-32 { padding-bottom: 128px !important; }

/* PX */
.px-17 { padding-left: 68px !important; padding-right: 68px !important; }
.px-18 { padding-left: 72px !important; padding-right: 72px !important; }
.px-19 { padding-left: 76px !important; padding-right: 76px !important; }
.px-20 { padding-left: 80px !important; padding-right: 80px !important; }
.px-21 { padding-left: 84px !important; padding-right: 84px !important; }
.px-22 { padding-left: 88px !important; padding-right: 88px !important; }
.px-23 { padding-left: 92px !important; padding-right: 92px !important; }
.px-24 { padding-left: 96px !important; padding-right: 96px !important; }
.px-25 { padding-left: 100px !important; padding-right: 100px !important; }
.px-26 { padding-left: 104px !important; padding-right: 104px !important; }
.px-27 { padding-left: 108px !important; padding-right: 108px !important; }
.px-28 { padding-left: 112px !important; padding-right: 112px !important; }
.px-29 { padding-left: 116px !important; padding-right: 116px !important; }
.px-30 { padding-left: 120px !important; padding-right: 120px !important; }
.px-31 { padding-left: 124px !important; padding-right: 124px !important; }
.px-32 { padding-left: 128px !important; padding-right: 128px !important; }

/* PY */
.py-17 { padding-top: 68px !important; padding-bottom: 68px !important; }
.py-18 { padding-top: 72px !important; padding-bottom: 72px !important; }
.py-19 { padding-top: 76px !important; padding-bottom: 76px !important; }
.py-20 { padding-top: 80px !important; padding-bottom: 80px !important; }
.py-21 { padding-top: 84px !important; padding-bottom: 84px !important; }
.py-22 { padding-top: 88px !important; padding-bottom: 88px !important; }
.py-23 { padding-top: 92px !important; padding-bottom: 92px !important; }
.py-24 { padding-top: 96px !important; padding-bottom: 96px !important; }
.py-25 { padding-top: 100px !important; padding-bottom: 100px !important; }
.py-26 { padding-top: 104px !important; padding-bottom: 104px !important; }
.py-27 { padding-top: 108px !important; padding-bottom: 108px !important; }
.py-28 { padding-top: 112px !important; padding-bottom: 112px !important; }
.py-29 { padding-top: 116px !important; padding-bottom: 116px !important; }
.py-30 { padding-top: 120px !important; padding-bottom: 120px !important; }
.py-31 { padding-top: 124px !important; padding-bottom: 124px !important; }
.py-32 { padding-top: 128px !important; padding-bottom: 128px !important; }




/* Flex container */
.flex        { display: flex; }
.inline-flex { display: inline-flex; }

/* Flex direction */
.flex-row        { flex-direction: row; }
.flex-row-reverse { flex-direction: row-reverse; }
.flex-col        { flex-direction: column; }
.flex-col-reverse { flex-direction: column-reverse; }

/* Flex grow/shrink */
.flex-1     { flex: 1 1 0%; }
.flex-auto  { flex: 1 1 auto; }
.flex-none  { flex: none; }

/* Gap */
.gap-1  { gap: 0.25rem; }
.gap-2  { gap: 0.5rem; }
.gap-4  { gap: 1rem; }
.gap-8  { gap: 2rem; }


/* Justify content (flexbox) */
.justify-start     { justify-content: flex-start; }
.justify-end       { justify-content: flex-end; }
.justify-center    { justify-content: center; }
.justify-between   { justify-content: space-between; }
.justify-around    { justify-content: space-around; }
.justify-evenly    { justify-content: space-evenly; }

/* Justify items (grid only) */
.justify-items-start     { justify-items: start; }
.justify-items-end       { justify-items: end; }
.justify-items-center    { justify-items: center; }
.justify-items-stretch   { justify-items: stretch; }

/* Justify self */
.justify-self-auto     { justify-self: auto; }
.justify-self-start    { justify-self: start; }
.justify-self-end      { justify-self: end; }
.justify-self-center   { justify-self: center; }
.justify-self-stretch  { justify-self: stretch; }





/* Google button login*/
.gsi-material-button {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-appearance: none;
  background-color: WHITE;
  background-image: none;
  border: 1px solid #747775;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #1f1f1f;
  cursor: pointer;
  font-family: 'Roboto', arial, sans-serif;
  font-size: 14px;
  height: 40px;
  letter-spacing: 0.25px;
  outline: none;
  overflow: hidden;
  padding: 0 12px;
  position: relative;
  text-align: center;
  -webkit-transition: background-color .218s, border-color .218s, box-shadow .218s;
  transition: background-color .218s, border-color .218s, box-shadow .218s;
  vertical-align: middle;
  white-space: nowrap;
  width: auto;
  max-width: 400px;
  min-width: min-content;
}

.gsi-material-button .gsi-material-button-icon {
  height: 20px;
  margin-right: 12px;
  min-width: 20px;
  width: 20px;
}

.gsi-material-button .gsi-material-button-content-wrapper {
  -webkit-align-items: center;
  align-items: center;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  height: 100%;
  justify-content: center;
  position: relative;
  width: 100%;
}

.gsi-material-button .gsi-material-button-contents {
  -webkit-flex-grow: 0;
  flex-grow: 0;
  font-family: 'Roboto', arial, sans-serif;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
}

.gsi-material-button .gsi-material-button-state {
  -webkit-transition: opacity .218s;
  transition: opacity .218s;
  bottom: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.gsi-material-button:disabled {
  cursor: default;
  background-color: #ffffff61;
  border-color: #1f1f1f1f;
}

.gsi-material-button:disabled .gsi-material-button-contents {
  opacity: 38%;
}

.gsi-material-button:disabled .gsi-material-button-icon {
  opacity: 38%;
}

.gsi-material-button:not(:disabled):active .gsi-material-button-state, 
.gsi-material-button:not(:disabled):focus .gsi-material-button-state {
  background-color: #303030;
  opacity: 12%;
}

.gsi-material-button:not(:disabled):hover {
  -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
}

.gsi-material-button:not(:disabled):hover .gsi-material-button-state {
  background-color: #303030;
  opacity: 8%;
}


